<a href="https://colab.research.google.com/github/MattOVF/Academy2/blob/main/RedWine%20with%20DB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#example

In [1]:
!pip install -q kaggle
from google.colab import files
files.upload()
#create a kaggle folder
!mkdir ~/.kaggle
# Go on kaggle > Account > Create New API token
# Save the json file in your laptop in a dedicated folder
# copy the kaggle.json to folder created
!cp kaggle.json ~/.kaggle
#permission for the json to act
!chmod 600 ~/.kaggle/kaggle.json
# Datasets available here: 
# https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009
!kaggle datasets download -d uciml/red-wine-quality-cortez-et-al-2009
!unzip red-wine-quality-cortez-et-al-2009.zip

Saving kaggle.json to kaggle.json
Downloading red-wine-quality-cortez-et-al-2009.zip to /content
  0% 0.00/25.6k [00:00<?, ?B/s]
100% 25.6k/25.6k [00:00<00:00, 9.78MB/s]
Archive:  red-wine-quality-cortez-et-al-2009.zip
  inflating: winequality-red.csv

In [3]:
10%2

0

In [4]:
a=2

In [7]:

a

2

In [10]:
a==2

True

In [12]:
type(a)

int

In [14]:
#test

In [26]:
cities = ['london', 'paris', 'dublin']

In [37]:
cities[2]= 'cardiff'

In [40]:
cities

['london', 'paris', 'cardiff']

In [45]:
cities.insert(0,"edinburgh")

In [47]:
cities

['edinburgh', 'edinburgh', 'london', 'paris', 'cardiff']

In [50]:
cities.remove("paris")

ValueError: ignored

In [52]:
cities

['edinburgh', 'edinburgh', 'london', 'cardiff']

In [57]:
cities.append("paris")

In [65]:
cities

['edinburgh', 'edinburgh', 'london', 'cardiff', 'paris']

In [73]:
val=0
if val>0:
  print("value is positive")
elif val<0:
  print("value is negative")
else:
  print("val is 0")

val is 0

In [80]:
def area(length,width):
  my_area = length * width
  return my_area
  area(7,8)

In [87]:
import pandas as pd
import numpy as np
df = pd.read_csv('/content/winequality-red.csv')

In [93]:
df.head(6)

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5
5            7.4              0.66         0.00  ...       0.56      9.4        5

[6 rows x 12 columns]

In [94]:
df.tail(3)

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
1596            6.3             0.510         0.13  ...       0.75     11.0        6
1597            5.9             0.645         0.12  ...       0.71     10.2        5
1598            6.0             0.310         0.47  ...       0.66     11.0        6

[3 rows x 12 columns]

In [97]:
df.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

In [102]:
df.describe()

       fixed acidity  volatile acidity  ...      alcohol      quality
count    1599.000000       1599.000000  ...  1599.000000  1599.000000
mean        8.319637          0.527821  ...    10.422983     5.636023
std         1.741096          0.179060  ...     1.065668     0.807569
min         4.600000          0.120000  ...     8.400000     3.000000
25%         7.100000          0.390000  ...     9.500000     5.000000
50%         7.900000          0.520000  ...    10.200000     6.000000
75%         9.200000          0.640000  ...    11.100000     6.000000
max        15.900000          1.580000  ...    14.900000     8.000000

[8 rows x 12 columns]

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [107]:
df.shape

(1599, 12)

In [109]:
len(df)

1599

In [112]:
df["fixed acidity"].head(2)

0    7.4
1    7.8
Name: fixed acidity, dtype: float64

In [118]:
df[["fixed acidity", "volatile acidity"]].head(6)

   fixed acidity  volatile acidity
0            7.4              0.70
1            7.8              0.88
2            7.8              0.76
3           11.2              0.28
4            7.4              0.70
5            7.4              0.66

In [128]:
list = ["fixed acidity"]
df[list].head(6)

   fixed acidity
0            7.4
1            7.8
2            7.8
3           11.2
4            7.4
5            7.4

In [130]:
mask1 =df[list]>7
mask1

      fixed acidity
0              True
1              True
2              True
3              True
4              True
...             ...
1594          False
1595          False
1596          False
1597          False
1598          False

[1599 rows x 1 columns]

In [134]:
df[mask1].min()

fixed acidity           7.1
volatile acidity        NaN
citric acid             NaN
residual sugar          NaN
chlorides               NaN
free sulfur dioxide     NaN
total sulfur dioxide    NaN
density                 NaN
pH                      NaN
sulphates               NaN
alcohol                 NaN
quality                 NaN
dtype: float64

In [ ]:
mask3=(((df["residual sugar"]>= 2,3)¦))